<!DOCTYPE html>
<html>
<head>
  <title>Add Event</title>
  <link rel="stylesheet" href="../../stylesheets/style.css">
</head>
<body>
  <div class="nav">
    <div class="toleft">
      <a href="/categories">TickPic</a>
    </div>
    <div class="toRight">
      <a href="/categories">Categories</a>
      <a href="/events">Events</a>
      <% if (user) { %>
        <a href="/auth/profile">My Profile</a>
        <a href="/auth/sign-out">Sign out</a>
      <% } %>
    </div>
  </div><!-- end nav -->
  <h1>Edit Event</h1>
  
  <div class="profile-container">
  <form 
    action="/events/edit/<%= event._id %>?_method=PUT"
    method="POST"
  >
    <label for="eventname">name:</label>
    <input 
      type="text" 
      name="eventname" 
      id="eventname" 
      value="<%= event.eventname %>"
    >
    <br>
    <label for="Date">Date:</label>
    <input type="date" name="date" id="date" value="<%= Event.Date %>">
    <br>

    <label for="tickCount">tickCount:</label>
    <input 
      type="number" 
      name="tickCount" 
      id="tickCount" 
      value="<%= event.tickCount %>"
    >
    <br>

    <label for="Category">Category:</label>
    <select id="Category" name="Category">
      <option 
        value="Books" 
        <%= event.Category === "Books" ? "selected" : "" %>
      >
        Books
      </option>
      <option 
        value="Cars" 
        <%= event.Category === "Cars" ? "selected" : "" %>
      >
      Cars
      </option>
      <option 
        value="Music" 
        <%= event.Category === "Music" ? "selected" : "" %> 
      >
      Music
      </option>
      <option 
        value="Festivals" 
        <%= event.Category === "Festivals" ? "selected" : "" %>
      >
      Festivals
      </option>
      <option
        value="Sports"
        <%= event.Category === "Sports" ? "selected" : "" %>
      >
      Sports
      </option>
      <option
        value="Comedy"
        <%= event.Category === "Comedy" ? "selected" : "" %>
      >
      Comedy
      </option>
    </select>
    <br>

    <button type="submit">Update Application</button>
  </form>
</div>
</body>
</html>