<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TikPick</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_nav.ejs') %>

  <div class="event-header">
    <div class="event-header-info">
      <h1>New Events</h1>
      <p>View more events by ...</p>
      <a href="../categories/">Categories</a>
      </div>
    </div>
  
  
  <% if (user.role == 'admin') { %> 
  <a href="/events/new">Add new</a>
  <%} %>
  <!-- <a href="/events/new">Add Event</a>  -->
  <h2>Recent Events</h2>

  
    <% 
        events.sort((a, b) => new Date(a.Date) - new Date(b.Date));
      events.forEach(event => {%>
        <li>    <a href='/events/reserve/<%= event._id %>'><%= event.eventname %>, <%= event.Date.toISOString().split('T')[0]%> , <%= event.Category%></li></a>
      <%});
    %>
</body>
</html>


